.about {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $vp-768) {
    position: relative;
    padding-top: 60px;
    padding-bottom: 120px;
    text-align: center;
  }

  @media (min-width: $vp-1366) {
    display: grid;
    grid-template-columns: 355px 660px;
    gap: 30px 145px;
    padding: 120px 103px 240px;
    text-align: left;
  }
}

.about__container {
  padding-bottom: 26px;

  @media (min-width: $vp-1366) {
    width: auto;
    padding: 0;
  }
}

.about__title {
  margin: 0 0 12px;

  @media (min-width: $vp-768) {
    margin-bottom: 20px;
  }

  @media (min-width: $vp-1366) {
    margin-bottom: 25px;
  }
}

.about p {
  margin: 0 auto 10px;
  max-width: 502px;
}

.about .about__description {
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  @media (min-width: $vp-768) {
    font-size: 20px;
  }

  @media (min-width: $vp-1366) {
    font-size: 22px;
    margin-bottom: 95px;
  }
}

.about p:last-of-type {
  display: none;

  @media (min-width: $vp-1366) {
    display: block;
  }
}

.about__img-container {
  margin: 0 auto 36px;

  @media (min-width: $vp-768) {
    max-width: 768px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (min-width: $vp-1366) {
    max-width: 660px;
    padding: 0;
  }
}

.about__img-container img {
  display: block;
}

.about__video {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #14367a;
    opacity: 0.5;
  }

  @media (min-width: $vp-768) {
    position: absolute;
    bottom: 71px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $vp-1366) {
    bottom: 161px;
  }
}

.about__video img {
  display: block;
}

.about__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
  border: 2px solid rgba($color-red-banners, 0.2);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: border-color 0.4s ease;

  @media (min-width: $vp-1366) {
    width: 100px;
    height: 100px;
  }

  &:hover {
    border-color: rgba($color-primary, 0.6);
  }

  &:focus {
    border-color: $color-primary;
    outline: none;
  }

  &:active {
    border-color: $color-primary;
  }

  &:disabled {
    opacity: 0.4;
    border-color: $color-primary;
    background-color: $color-white;
    pointer-events: none;
  }

  &::before {
    content: "";
    position: absolute;
    width: 52px;
    height: 52px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, #ed0233 0%, #003eb7 100%);
    background-color: #801e70;
    border-radius: 50%;
    transition: background-color 0.4s ease, transform 0.4s ease;

    @media (min-width: $vp-1366) {
      width: 72px;
      height: 72px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 4px);
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left: 9px solid $color-white;
    transition: border-left-color 0.8s ease;

    @media (min-width: $vp-768) {
      left: calc(50% - 3px);
    }

    @media (min-width: $vp-1366) {
      top: calc(50% - 7px);
      left: calc(50% - 4px);
      border: 7px solid transparent;
      border-left: 13px solid $color-white;
    }
  }
}

.about__video-button:hover::before {
  background-image: none;
  background-color: $color-white;
}

.about__video-button:focus::before {
  background-image: none;
  background-color: #c8c9cc;
}

.about__video-button:active::before {
  transform: translate(-50%, -50%) scale(0.8);
  background-image: none;
  background-color: $color-white;
}

.about__video-button:disabled::before {
  background-image: none;
  background-color: $color-white;
}

.about__video-button:hover::after {
  border-left-color: $color-primary;
  opacity: 0.6;
}

.about__video-button:focus::after,
.about__video-button:active::after {
  border-left-color: $color-primary;
  opacity: 1;
}

.about__video-button:disabled::after {
  border-left-color: $color-primary;
}

.about__video-iframe {
  display: none;
}
