.button {
  display: block;
  padding: 22px;

  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  font-family: $font-family;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: 2px solid $color-white;
  cursor: pointer;

  transition: color 0.6s ease, background-color 0.4s ease, border-color 0.7s ease;

  &:hover {
    color: $color-text-accent;

    background-color: $color-white;
    border-color: $color-white;
  }

  &:focus {
    color: $color-text-accent;

    background-color: rgba($color-white, 0.8);
    border-color: #000000;
    outline: none;
  }

  &:active {
    color: $color-primary;

    background-color: $color-white;
    border-color: $color-white;
  }

  &:disabled,
  &--disabled {
    cursor: default;
    opacity: 0.5;

    pointer-events: none;
  }

  &--white {
    color: $color-primary;

    border-color: $color-primary;

    transition: color 0.6s ease, border-color 0.4s ease;

    &:hover {
      color: $color-white;

      background-color: #662480;
      background-image: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
      background-origin: border-box;
      border-color: transparent;
    }

    &:focus {
      color: $color-white;

      background-color: transparent;
      background-image: linear-gradient(97.05deg, rgba(237, 2, 51, 0.8) 17.6%, rgba(0, 62, 183, 0.8) 95.31%);
    }

    &:active {
      color: rgba($color-white, 0.7);

      background-color: #662480;
      background-image: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
      border-color: transparent;
    }

    &:disabled {
      color: rgba($color-primary, 0.3);
      letter-spacing: 0.05em;

      opacity: 0.3;
    }
  }
}

.button.button--disabled {
  color: rgba($color-primary, 0.3);
  letter-spacing: 0.05em;

  opacity: 0.3;
}
