.contacts__container {
  padding-top: 37px;
  padding-bottom: 40px;

  @media (min-width: $vp-768) {
    padding: 59px 164px 60px;
  }

  @media (min-width: $vp-1366) {
    width: 683px;
    margin: 0 auto 0 0;
    padding: 60px 103px;

    border-top: 1px solid $color-divider;
  }
}

.contacts__content {
  display: grid;

  font-style: normal;

  gap: 28px;

  @media (min-width: $vp-768) {
    position: relative;

    gap: 60px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $vp-1366) {
    gap: 120px;
  }

  &::before {
    @media (min-width: $vp-768) {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;

      width: 1px;
      height: 100%;

      background-color: $color-divider;
      transform: translateX(-50%);
    }

    @media (min-width: $vp-1366) {
      transform: none;
    }
  }
}

.contacts__title {
  margin: 0 0 38px;

  @media (min-width: $vp-768) {
    margin-bottom: 36px;

    font-size: 54px;
    line-height: 54px;
    text-align: center;
  }

  @media (min-width: $vp-1366) {
    text-align: left;
  }
}

.contacts__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 28px;

  @media (min-width: $vp-768) {
    gap: 14px;
  }

  @media (min-width: $vp-1366) {
    gap: 15px;
  }
}

.contacts__item {
  display: grid;

  gap: 12px;

  @media (min-width: $vp-768) {
    gap: 6px;
  }

  @media (min-width: $vp-1366) {
    gap: 5px;
  }
}

.contacts__subtitle {
  margin: 0;

  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $vp-768) {
    font-size: 24px;
    line-height: 24px;
  }
}

.contacts__text {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $vp-768) {
    line-height: 22px;
  }
}

.contacts__link {
  color: $color-primary;
  text-decoration: underline;

  transition: text-decoration 0.5s ease, color 0.4s ease, text-underline-offset 0.8s ease;

  text-decoration-color: transparent;
  text-underline-offset: 12px;

  &:hover {
    text-decoration: underline;

    text-decoration-color: $color-divider;
    text-underline-offset: 5px;
  }

  &:focus {
    color: $color-text-accent;
    text-decoration: underline;

    outline: none;
    opacity: 1;

    text-decoration-color: $color-divider;
    text-underline-offset: 5px;
  }

  &:active {
    color: $color-divider;
  }
}
