.features {
  background-color: $color-white-additional;
}

.features__container {
  padding-top: 41px;
  padding-bottom: 40px;

  @media (min-width: $vp-768) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $vp-1366) {
    padding-top: 101px;
    padding-bottom: 101px;
  }
}

.features__title {
  margin: 0 0 40px;

  text-align: center;

  @media (min-width: $vp-768) {
    margin-bottom: 50px;
  }

  @media (min-width: $vp-1366) {
    margin-bottom: 49px;
  }
}

.features__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style-type: none;
  text-align: center;

  gap: 35px;

  @media (min-width: $vp-768) {
    text-align: left;

    gap: 40px 30px;
    grid-template-columns: 324px 324px;
  }

  @media (min-width: $vp-1366) {
    gap: 80px 40px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.features__list li {
  display: grid;
  padding: 0 30px;

  gap: 12px;

  @media (min-width: $vp-768) {
    display: flex;
    padding: 0;

    gap: 15px;
  }

  @media (min-width: $vp-1366) {
    position: relative;

    display: grid;
    align-content: start;
    min-height: 110px;

    gap: 43px;
    grid-template-columns: 107px 210px;
  }
}

.features__list li:nth-child(4) {
  @media (min-width: $vp-768) {
    gap: 16px;
  }

  @media (min-width: $vp-1366) {
    gap: 43px;
  }
}

.features__list li:nth-child(-n+2) {
  &::after {
    @media (min-width: $vp-1366) {
      content: "";
      position: absolute;
      right: 0;
      bottom: -41px;
      left: 0;

      height: 2px;

      background-color: rgba(209, 10, 66, 0.2);
    }
  }
}

.features__list div {
  display: grid;

  @media (min-width: $vp-1366) {
    justify-content: start;
    align-content: start;
  }

  &:nth-child(2) {
    gap: 12px;

    @media (min-width: $vp-768) {
      gap: 0;
    }

    @media (min-width: $vp-1366) {
      gap: 8px;
    }
  }
}

.features__list li:not(:nth-child(3n)) b {
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;

  background-image: $gradient-text;
  background-clip: text;

  justify-self: center;
  -webkit-text-fill-color: transparent;

  @media (min-width: $vp-768) {
    font-size: 70px;
    line-height: 70px;
  }
}

.features__list span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-blue-description;

  @media (min-width: $vp-768) {
    line-height: 22px;
  }
}

.features__list h3 {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: $color-primary;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $vp-1366) {
    font-size: 22px;
    line-height: 22px;
  }
}

.features__list p {
  margin: 0;
}

.features__list li:nth-child(3) {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 30px 60px 40px;

  color: $color-white;

  background-color: $color-additional;
  box-shadow: 280px 0 0 0 $color-additional, -280px 0 0 0 $color-additional;

  gap: 5px;

  @media (min-width: $vp-768) {
    display: grid;
    width: 320px;
    margin: 0 auto;
    padding: 35px;

    text-align: center;

    box-shadow: none;

    gap: 25px;
    grid-column: 1/-1;
  }

  @media (min-width: $vp-1366) {
    width: 360px;
    padding: 58px 40px;

    gap: 11px;
    grid-column: 2;
    grid-row: 1/span 2;
    grid-template-columns: 1fr;
  }
}

.features__list li:nth-child(3n) b {
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;

  @media (min-width: $vp-768) {
    font-size: 70px;
    line-height: 70px;
  }
}

.features__list li:nth-child(3n) h3 {
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: $color-white;

  @media (min-width: $vp-768) {
    margin-bottom: 0;

    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $vp-1366) {
    margin-bottom: 18px;

    font-size: 26px;
    line-height: 26px;
  }
}
