.footer {
  color: $color-white;

  background-color: $color-dark;
}

.footer__container {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $vp-768) {
    display: grid;
    padding-top: 46px;
    padding-bottom: 45px;

    gap: 24px;
    grid-template-columns: 110px 1fr 105px;
  }

  @media (min-width: $vp-1366) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 41px;
    padding-bottom: 40px;
  }
}

.footer__logo {
  margin-bottom: 23px;

  @media (min-width: $vp-768) {
    display: block;
    width: 110px;
    height: 22px;
    margin-bottom: 0;
  }

  @media (min-width: $vp-1366) {
    width: 130px;
    height: 26px;
  }
}

.footer__nav {
  @media (min-width: $vp-1366) {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1px;
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 29px -11px;
  padding: 0;

  list-style-type: none;

  gap: 18px 14px;

  @media (min-width: $vp-768) {
    margin: -2px 0 0;

    gap: 9px;
  }

  @media (min-width: $vp-1366) {
    gap: 20px 60.5px;
  }
}

.footer__link {
  padding: 5px 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-white;
  text-decoration: underline;

  border: 1px solid transparent;

  transition: text-underline-offset 0.8s ease, text-decoration-color 0.4s ease, border-color 0.4s ease;

  text-decoration-color: transparent;
  text-underline-offset: 15px;

  @media (min-width: $vp-768) {
    line-height: 22px;
  }

  &:hover {
    text-decoration-color: $color-white;
    text-underline-offset: 10px;
  }

  &:focus {
    border-color: $color-white;
    outline: none;

    text-decoration-color: transparent;
  }

  &:active {
    border-color: transparent;

    text-decoration-color: transparent;
  }

  &--disabled {
    opacity: 0.4;

    pointer-events: none;
  }
}

.footer__social {
  margin: 0;

  @media (min-width: $vp-1366) {
    max-width: 200px;

    justify-self: end;
  }
}
