.offers {
  padding-top: 42px;
  padding-bottom: 40px;

  @media (min-width: $vp-768) {
    width: 768px;
    margin: 0 auto;
    padding: 61px 45px;
  }

  @media (min-width: $vp-1366) {
    width: 1366px;
    padding: 101px 103px;
  }
}

.offers__title {
  margin: 0 0 39px;

  text-align: center;

  @media (min-width: $vp-768) {
    margin-bottom: 35px;
  }

  @media (min-width: $vp-1366) {
    margin-bottom: 70px;
  }
}

.offers__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style-type: none;
  text-align: center;

  gap: 30px;

  @media (min-width: $vp-768) {
    text-align: left;

    gap: 35px 30px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $vp-1366) {
    align-items: end;

    gap: 30px 40px;
  }
}

.offers__item:nth-child(2) {
  @media (min-width: $vp-1366) {
    margin-top: 82px;
  }
}

.offers__wrapper {
  position: relative;

  margin-bottom: 11px;
  padding-top: 30px;
  padding-bottom: 391px;

  color: $color-white;

  background-color: $color-red-banners;

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 462px;
    margin-bottom: 0;
    padding: 40px 425px 35px 25px;

    grid-column: 1/-1;
  }

  @media (min-width: $vp-1366) {
    min-height: 460px;
    padding: 40px 325px 35px 45px;

    grid-column: initial;
    grid-row: 1/span 2;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 360px;

    background-color: $color-blue-description;
    background-image: url("../img/background/girl-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    @media (resolution >= 2dppx) {
      background-image: url("../img/background/girl-mobile@2x.jpg");
    }

    @media (min-width: $vp-768) {
      top: 0;
      right: 0;
      bottom: initial;
      left: initial;

      width: 400px;
      height: 462px;

      background-image: url("../img/background/girl-tablet@1x.jpg");

      @media (resolution >= 2dppx) {
        background-image: url("../img/background/girl-tablet@2x.jpg");
      }
    }

    @media (min-width: $vp-1366) {
      width: 280px;
      height: 460px;

      background-image: url("../img/background/girl-desktop@1x.jpg");

      @media (resolution >= 2dppx) {
        background-image: url("../img/background/girl-desktop@2x.jpg");
      }
    }
  }
}

.offers__wrapper h3 {
  max-width: 260px;
  margin: 0 auto 9px;

  font-weight: 700;
  font-size: 22px;
  line-height: 22px;

  @media (min-width: $vp-768) {
    margin: 0 0 20px;

    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $vp-1366) {
    font-size: 26px;
    line-height: 26px;
  }
}

.offers__wrapper span {
  display: block;
  max-width: 260px;
  margin: 0 auto 28px;

  font-weight: 700;
  font-size: 64px;
  line-height: 64px;

  @media (min-width: $vp-768) {
    margin: 0 0 40px;

    font-size: 70px;
    line-height: 70px;
  }
}

.offers__wrapper p {
  max-width: 260px;
  margin: 0 auto 25px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $vp-768) {
    font-size: 18px;
    line-height: 24px;
  }
}

.offers__link {
  color: $color-white;

  @media (min-width: $vp-768) {
    margin-top: auto;
    margin-left: -11px;
  }
}

.offers__article {
  margin: 0 auto;

  @media (min-width: $vp-768) {
    width: 100%;
    margin: 0;
  }
}
