.reviews {
  max-width: 320px;
  padding: 40px;

  @media (min-width: $vp-768) {
    max-width: 768px;
    position: relative;

    padding: 61px 134px 60px;
  }

  @media (min-width: $vp-1366) {
    max-width: initial;
    padding: 99px 403px;
  }
}

.reviews__title {
  margin: 0 0 40px;

  text-align: center;

  @media (min-width: $vp-768) {
    margin-bottom: 33px;

    font-size: 54px;
    line-height: 54px;
  }

  @media (min-width: $vp-1366) {
    margin-bottom: 75px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.reviews__item {
  width: 240px;
  min-height: 328px;
  padding: 30px 25px;

  text-align: center;
  color: $color-white;

  background-color: $color-additional;
  box-shadow: 0 0 40px 0 rgba($color-additional, 0.2);

  @media (min-width: $vp-768) {
    width: 500px;
    min-height: 242px;
    padding: 40px 30px 40px 150px;

    text-align: left;
  }

  @media (min-width: $vp-1366) {
    min-height: 258px;
    padding: 60px 60px 61px 170px;
  }
}

.reviews__img-container {
  width: 68px;
  height: 68px;
  margin: 0 auto 10px;
  overflow: hidden;

  border-radius: 50%;

  @media (min-width: $vp-768) {
    position: absolute;
    top: 40px;
    left: 30px;

    width: 80px;
    height: 80px;
  }

  @media (min-width: $vp-1366) {
    top: 60px;
    left: 60px;
  }
}

.reviews__img-container img {
  display: block;
}

.reviews__item h3 {
  margin: 0 0 16px;

  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  @media (min-width: $vp-768) {
    margin-bottom: 20px;

    font-size: 22px;
    line-height: 22px;
  }
}

.reviews__item p {
  margin: 0;
}
