.reviews {
  padding: 42px 40px 40px;

  @media (min-width: $vp-768) {
    position: relative;
    padding: 60px 134px;
  }
}

.reviews__title {
  margin: 0 0 40px;

  text-align: center;

  @media (min-width: $vp-768) {
    margin-bottom: 35px;

    font-size: 54px;
    line-height: 54px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.reviews__item {
  width: 240px;
  min-height: 328px;
  padding: 30px 25px;

  text-align: center;
  color: $color-white;

  background-color: $color-additional;

  @media (min-width: $vp-768) {
    width: 500px;
    min-height: 242px;
    padding: 40px 30px 40px 150px;

    text-align: left;
  }
}

.reviews__img-container {
  width: 68px;
  height: 68px;
  margin: 0 auto 10px;
  overflow: hidden;

  border-radius: 50%;

  @media (min-width: $vp-768) {
    position: absolute;
    top: 40px;
    left: 30px;

    width: 80px;
    height: 80px;
  }
}

.reviews__img-container img {
  display: block;
}

.reviews__item h3 {
  margin: 0 0 16px;

  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  @media (min-width: $vp-768) {
    margin-bottom: 20px;

    font-size: 22px;
    line-height: 22px;
  }
}

.reviews__item p {
  margin: 0;
}

.reviews__button {
  display: none;

  @media (min-width: $vp-768) {
    position: absolute;
    top: 244px;
    right: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: border-color 0.4s ease, background-color 0.4s ease;

    &:hover {
      border-color: $color-primary;
    }

    &:focus {
      outline: none;
      border-color: $color-primary;
      background-color: $price-shadow;
    }

    &:active {
      border-color: $color-primary;
      background-color: $color-primary;
    }

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
    }

    &::after {
      content: "";

      display: block;
      width: 16px;
      height: 32px;

      background-color: $color-primary;

      transition: background-color 0.3s ease;

      mask-image: url("/__spritemap#sprite-slider-button-view");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: 32px 32px;
    }
  }
}

.reviews__button:active::after {
  background-color: $color-white;
}

.reviews__button-prev {
  left: 27px;

  &::after {
    transform: rotate(180deg);
  }
}
