.slider-button {
  z-index: 2;

  display: none;

  @media (min-width: $vp-768) {
    position: absolute;
    top: 244px;
    left: calc(50% + 307px);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;

    transition: border-color 0.4s ease, background-color 0.4s ease;
  }

  @media (min-width: $vp-1366) {
    top: 333px;
    left: calc(50% + 351px);
  }

  &:hover {
    border-color: $color-primary;
  }

  &:focus {
    background-color: $price-shadow;
    border-color: $color-primary;
    outline: none;
  }

  &:active {
    background-color: $color-primary;
    border-color: $color-primary;
  }

  &:disabled {
    opacity: 0.3;

    pointer-events: none;
  }

  &::before {
    @media (min-width: $vp-768) {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 80px;
      height: 80px;

      transform: translate(-50%, -50%);
    }
  }

  &::after {
    @media (min-width: $vp-768) {
      content: "";

      display: block;
      width: 16px;
      height: 32px;

      background-color: $color-primary;

      transition: background-color 0.3s ease;

      mask-image: url("/__spritemap#sprite-slider-button-view");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: 32px 32px;
    }
  }
}

.slider-button--prev {
  left: 27px;

  &::after {
    transform: rotate(180deg);
  }

  @media (min-width: $vp-768) {
    right: calc(50% + 307px);
    left: auto;
  }

  @media (min-width: $vp-1366) {
    right: calc(50% + 351px);
  }
}

.slider-button:active::after {
  background-color: $color-white;
}
